<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-4.0.xsd">
	
	 <bean id="student" class="com.lti.model.Student" scope="prototype" autowire="byName">
		<property name="rollNumber" value="1"></property>
		<property name="studentName" value="Makarand"></property>
		<property name="studentScore" value="60"></property>
 		<!-- <property name="address" ref="address"></property> --> 
	</bean> 
	
	<bean id="student2" class="com.lti.model.Student" scope="prototype" autowire="byType">
		<property name="rollNumber" value="1"></property>
		<property name="studentName" value="Makarand"></property>
		<property name="studentScore" value="60"></property>
 		<!-- <property name="address" ref="address"></property> --> 
	</bean> 
	
	<bean id="student3" class="com.lti.model.Student" scope="prototype" autowire="constructor">
		<property name="rollNumber" value="1"></property>
		<property name="studentName" value="Makarand"></property>
		<property name="studentScore" value="60"></property>
 		<!-- <property name="address" ref="address"></property> --> 
	</bean>
	
	<bean id="address" class="com.lti.model.Address" scope="prototype">
		<property name="addressId" value="10"></property>
	    <property name="city" value="Mumbai"></property>
	    <property name="pin" value="400706"></property>
	</bean>
	
	
</beans>